<div class="container">
  <%= render "admin/bills/filter" %>
  <% if @bills.any? %>
    <% @bills.each do |bill| %>
      <%= render 'admin/bills/bill', bill: bill %>
    <% end %>
    <div class="d-flex justify-content-center">
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
  <% end %>
</div>
