<div class="container">
  <% if @bookings.any? %>
    <% @bookings.each do |booking| %>
      <%= render "bookings/booking", booking: booking %>
    <% end %>
    <div class="d-flex justify-content-center">
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
  <% end %>
</div>
