<div class="container">
  <div class="row mt-5">
    <div class="col-sm-3  bg-light">
      <div class="text-center">
        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
      </div>
      <nav class="navbar">
        <ul class="navbar-nav">
          <% if !admin? %>
            <li class="nav-item">
              <%= link_to t("user.showpage.bookings"), "#" , class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to t("user.showpage.tours_follow"), "#" , class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to t("user.showpage.review_tour"), "#" , class: "nav-link" %>
            </li>
          <%end%>
        </ul>
      </nav>
    </div>
    <div class="col-sm-9">
      <div class="tab-content">
        <div class="tab-pane active" id="home">
          <div class="container">
            <%= render "form", submit_text: t("user.showpage.form.update_info")%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
