@import "variable";
h1,
h2,
.font-weight-bold {
  font-weight: 700 !important;
}

h3,
h4,
.font-weight-semi-bold {
  font-weight: 600 !important;
}

h5,
h6,
.font-weight-medium {
  font-weight: 500 !important;
}

.btn-square {
  width: 36px;
  height: 36px;
}

.btn-sm-square {
  width: 28px;
  height: 28px;
}

.btn-lg-square {
  width: 46px;
  height: 46px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 11;
}

.nav-bar::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  background: $light;
}

.navbar-light .navbar-nav .nav-link {
  padding: 30px 15px;
  color: $dark;
  font-weight: 500;
  outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: $primary;
}

@media (max-width: 991.98px) {
  .navbar-light .navbar-nav .nav-link {
    padding: 10px 15px;
  }
}

@media (min-width: 992px) {
  #header-carousel,
  .page-header {
    margin-top: -42px;
  }
}

@media (min-width: 768px) {
  .booking {
    position: relative;
    margin-top: -60px !important;
    z-index: 1;
  }
}

@media (min-width: 992px) {
  .about-text {
    margin-left: -120px;
  }
}

.page-header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/carousel-2.jpg), no-repeat center center;
  background-size: cover;
}

.destination-item img {
  transition: 0.5s;
}

.destination-item:hover img {
  transform: scale(1.3);
}

.destination-overlay {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(256, 256, 256, 0.5);
  transition: 0.5s;
  z-index: 1;
}

.destination-item:hover .destination-overlay {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-width: 30px;
}

.service-item {
  transition: 0.5s;
}

.service-item:hover {
  box-shadow: 0 0 30px #cccccc;
}

.service-item i {
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid $primary;
  background: $light;
  color: $primary;
  transition: 0.5s;
}

.service-item:hover i {
  background: $primary;
  color: $light;
}

.package-item {
  transition: 0.5s;
}

.package-item:hover {
  box-shadow: 0 0 30px #cccccc;
}

.bg-registration {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/carousel-1.jpg), no-repeat center center;
  background-size: cover;
}

.team-item {
  transition: 0.5s;
}

.team-social {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.team-social a.btn {
  position: relative;
  margin: 0 3px;
  margin-top: 100px;
  opacity: 0;
}

.team-item:hover {
  box-shadow: 0 0 30px #cccccc;
}

.team-item:hover .team-social {
  background: rgba(0, 0, 0, 0.5);
}

.team-item:hover .team-social a.btn:first-child {
  opacity: 1;
  margin-top: 0;
  transition: 0.3s 0s;
}

.team-item:hover .team-social a.btn:nth-child(2) {
  opacity: 1;
  margin-top: 0;
  transition: 0.3s 0.05s;
}

.team-item:hover .team-social a.btn:nth-child(3) {
  opacity: 1;
  margin-top: 0;
  transition: 0.3s 0.1s;
}

.team-item:hover .team-social a.btn:nth-child(4) {
  opacity: 1;
  margin-top: 0;
  transition: 0.3s 0.15s;
}

.team-item .team-img img {
  transition: 0.5s;
}

.team-item:hover .team-img img {
  transform: scale(1.2);
}

.testimonial-carousel .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.testimonial-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 20px;
  height: 20px;
  background: #dddddd;
  transition: 0.5s;
}

.testimonial-carousel .owl-dot.active {
  width: 40px;
  background: $primary;
}

.testimonial-carousel .owl-item.center .testimonial-text {
  box-shadow: 0 0 30px #cccccc;
}

.blog-item {
  transition: 0.5s;
}

.blog-item:hover {
  box-shadow: 0 0 30px #cccccc;
}

.blog-date {
  position: absolute;
  width: 60px;
  height: 45px;
  top: 30px;
  left: -15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: $primary;
}

.blog-date::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: -15px;
  left: 0;
  border: 8px solid;
  border-color: transparent darken($primary, 10%) darken($primary, 10%)
    transparent;
  z-index: -1;
}

.contact-form .help-block ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.trix-content {
  .attachment-gallery {
    > action-text-attachment,
    > .attachment {
      flex: 1 0 33%;
      padding: 0 0.5em;
      max-width: 33%;
    }

    &.attachment-gallery--2,
    &.attachment-gallery--4 {
      > action-text-attachment,
      > .attachment {
        flex-basis: 50%;
        max-width: 50%;
      }
    }
  }

  action-text-attachment {
    .attachment {
      padding: 0 !important;
      max-width: 100% !important;
    }
  }
}

.logo {
  line-height: 1;

  @media (min-width: 1200px) {
    width: 280px;
  }

  img {
    max-height: 26px;
    margin-right: 6px;
  }

  span {
    font-size: 26px;
    font-weight: 700;
    color: #012970;
    font-family: "Nunito", sans-serif;
  }
}

.header {
  transition: all 0.5s;
  z-index: 997;
  height: 60px;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
  padding-left: 20px;

  .toggle-sidebar-btn {
    font-size: 32px;
    padding-left: 10px;
    cursor: pointer;
    color: #012970;
  }

  .search-bar {
    min-width: 360px;
    padding: 0 20px;

    @media (max-width: 1199px) {
      position: fixed;
      top: 50px;
      left: 0;
      right: 0;
      padding: 20px;
      box-shadow: 0px 0px 15px 0px rgba(1, 41, 112, 0.1);
      background: white;
      z-index: 9999;
      transition: 0.3s;
      visibility: hidden;
      opacity: 0;

      &-show {
        top: 60px;
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .search-form {
    width: 100%;

    input {
      border: 0;
      font-size: 14px;
      color: #012970;
      border: 1px solid rgba(1, 41, 112, 0.2);
      padding: 7px 38px 7px 8px;
      border-radius: 3px;
      transition: 0.3s;
      width: 100%;

      &:focus,
      &:hover {
        outline: none;
        box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15);
        border: 1px solid rgba(1, 41, 112, 0.3);
      }
    }

    button {
      border: 0;
      padding: 0;
      margin-left: -30px;
      background: none;

      i {
        color: #012970;
      }
    }
  }
}

.header-nav {
  width: 100%;
  ul {
    list-style: none;

    > ul {
      margin: 0;
      padding: 0;
    }

    .nav-icon {
      font-size: 22px;
      color: #012970;
      margin-right: 25px;
      position: relative;
    }

    .nav-profile {
      color: #012970;

      img {
        max-height: 36px;
      }

      span {
        font-size: 14px;
        font-weight: 600;
      }
    }

    .badge-number {
      position: absolute;
      inset: -2px -5px auto auto;
      font-weight: normal;
      font-size: 12px;
      padding: 3px 6px;
    }

    .notifications {
      inset: 8px -15px auto auto !important;

      .notification-item {
        display: flex;
        align-items: center;
        padding: 15px 10px;
        transition: 0.3s;

        i {
          margin: 0 20px 0 10px;
          font-size: 24px;
        }

        h4 {
          font-size: 16px;
          font-weight: 600;
          margin-bottom: 5px;
        }

        p {
          font-size: 13px;
          margin-bottom: 3px;
          color: #919191;
        }

        &:hover {
          background-color: #f6f9ff;
        }
      }
    }

    .messages {
      inset: 8px -15px auto auto !important;

      .message-item {
        padding: 15px 10px;
        transition: 0.3s;

        a {
          display: flex;
        }

        img {
          margin: 0 20px 0 10px;
          max-height: 40px;
        }

        h4 {
          font-size: 16px;
          font-weight: 600;
          margin-bottom: 5px;
          color: #444444;
        }

        p {
          font-size: 13px;
          margin-bottom: 3px;
          color: #919191;
        }

        &:hover {
          background-color: #f6f9ff;
        }
      }
    }

    .profile {
      min-width: 240px;
      padding-bottom: 0;
      top: 8px !important;

      .dropdown-header h6 {
        font-size: 18px;
        margin-bottom: 0;
        font-weight: 600;
        color: #444444;
      }

      .dropdown-header span {
        font-size: 14px;
      }

      .dropdown-item {
        font-size: 14px;
        padding: 10px 15px;
        transition: 0.3s;

        i {
          margin-right: 10px;
          font-size: 18px;
          line-height: 0;
        }

        &:hover {
          background-color: #f6f9ff;
        }
      }
    }
  }
}
.alert-notice {
  padding: 15px;
  border: 1px solid #ffc107;
  border-radius: 4px;
  background-color: #fff3cd;
  color: #856404;
  margin-bottom: 15px;
}

.alert-notice strong {
  font-weight: bold;
}
.alert-notice {
  padding: 15px;
  border: 1px solid #ffc107;
  border-radius: 4px;
  background-color: #fff3cd;
  color: #856404;
  margin-bottom: 15px;
}

.alert-notice strong {
  font-weight: bold;
}
.alert {
  padding: 15px;
  margin-bottom: 18px;
  border: 1px solid transparent;
  border-radius: 2px;
}

.alert h4 {
  margin-top: 0;
  color: inherit;
}

.alert .alert-link {
  font-weight: bold;
}

.alert > p,
.alert > ul {
  margin-bottom: 0;
}

.alert > p + p {
  margin-top: 5px;
}

.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}

.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}

/* .alert-success {
  background-color: #4caf50;
  border-color: transparent;
  color: #ffffff;
} */

.alert-success hr {
  border-top-color: rgba(0, 0, 0, 0);
}

.alert-success .alert-link {
  color: #e6e6e6;
}

/* .alert-info {
  background-color: #2196f3;
  border-color: transparent;
  color: #ffffff;
} */

.alert-info hr {
  border-top-color: rgba(0, 0, 0, 0);
}

.alert-info .alert-link {
  color: #e6e6e6;
}

/* .alert-warning {
  background-color: #ffc107;
  border-color: transparent;
  color: #ffffff;
} */

.alert-warning hr {
  border-top-color: rgba(0, 0, 0, 0);
}

.alert-warning .alert-link {
  color: #e6e6e6;
}
/*
.alert-danger {
  background-color: #f44336;
  border-color: transparent;
  color: #ffffff;
} */

.alert-danger hr {
  border-top-color: rgba(0, 0, 0, 0);
}

.alert-danger .alert-link {
  color: #e6e6e6;
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }

  to {
    background-position: 0 0;
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }

  to {
    background-position: 0 0;
  }
}
.alert {
  padding-left: 30px;
  font-size: 13px;

  span {
    cursor: pointer;
  }

  &:not(.alert-dismissible) {
    padding-right: 30px;
  }

  &.alert-dismissable {
    padding-right: 44px;
  }
}

.alert-inverse {
  background-color: #333333;
  border-color: transparent;
  color: #ffffff;

  hr {
    border-top-color: rgba(0, 0, 0, 0);
  }

  .alert-link {
    color: #e6e6e6;
  }
}

.growl-animated {
  &.alert-inverse {
    box-shadow: 0 0 5px rgba(51, 51, 51, 0.5);
  }

  &.alert-info {
    box-shadow: 0 0 5px rgba(33, 150, 243, 0.5);
  }

  &.alert-success {
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
  }

  &.alert-warning {
    box-shadow: 0 0 5px rgba(255, 193, 7, 0.5);
  }

  &.alert-danger {
    box-shadow: 0 0 5px rgba(244, 67, 54, 0.5);
  }
}

.alert-link {
  color: #fff !important;
}
