$primary: #7ab730;
$secondary: lighten($primary, 50%);
$light: #ffffff;
$dark: #212121;
$font-family-sans-serif: "Poppins", sans-serif;
$body-bg: #f3f3f3;
$body-color: #656565;
$headings-color: $dark;
$enable-responsive-font-sizes: true;
$enable-rounded: false;
$color_1: #444444;
$color_2: #4154f1;
$color_3: #717ff5;
$color_4: #012970;
$color_5: #fff;
$color_6: #a5c5fe;
$color_7: #798eb3;
$color_8: #899bbd;
$color_9: #3e4f6f;
$color_10: #51678f;
$color_11: #2c384e;
$color_12: #919191;
$color_13: #aab7cf;
$color_14: #2eca6a;
$color_15: #ff771d;
$color_16: #888;
$color_17: #777777;
$color_18: #666;
$color_19: rgba(1, 41, 112, 0.5);
$color_20: rgba(1, 41, 112, 0.6);
$color_21: #6980aa;
$font-family_1: "Open Sans", sans-serif;
$font-family_2: "Nunito", sans-serif;
$font-family_3: "Poppins", sans-serif;
$font-family_4: var(--bs-font-monospace);
$background-color_1: #f6f9ff;
$background-color_2: #cfe2ff;
$background-color_3: #e2e3e5;
$background-color_4: #d1e7dd;
$background-color_5: #f8d7da;
$background-color_6: #fff3cd;
$background-color_7: #cff4fc;
$background-color_8: #d3d3d4;
$background-color_9: #fff;
$background-color_10: rgba(255, 255, 255, 0.6);
$background-color_11: #aab7cf;
$background-color_12: #4154f1;
$background-color_13: #eceefe;
$background-color_14: rgba(255, 255, 255, 0.8);
$border-color_1: #cfe2ff;
$border-color_2: #e2e3e5;
$border-color_3: #d1e7dd;
$border-color_4: #f8d7da;
$border-color_5: #fff3cd;
$border-color_6: #cff4fc;
$border-color_7: #d3d3d4;
$border-color_8: #ebeef4;
$border-color_9: #4154f1;
$border-top-color_1: #eee;
