$primary: #7ab730;
$secondary: lighten($primary, 50%);
$light: #ffffff;
$dark: #212121;
$font-family-sans-serif: "Poppins", sans-serif;
$body-bg: #f3f3f3;
$body-color: #656565;
$headings-color: $dark;
$enable-responsive-font-sizes: true;
$enable-rounded: false;
